.article{
    margin-top: 17px !important;
    img{
        width: 100%;
    }

    .title{
        font-size: 22px;
        font-weight: 800;
        margin: 0;
        color: #616161;
    }

    .description{
        font-size: 11px;
        margin: 5px 0px;
        line-height: 22px;
    }
}