html, body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

.m-0{
    margin-left:0 !important;
    margin-right: 0 !important;
}

.p-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-5{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-10{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.heading{
    margin-top: 10px;
    margin-bottom: 5px;
}

.heading h1{
    color: #535353;
    display: inline;
    padding-right: 20px;
    padding-bottom: 1px;
    font-size: 22px;
}

/* xs */
@media (max-width: 576px) {
    .hidden-mobile{
        display: none;
    } 

    .container{
        width: 90vw !important;
    }
}

/* sm */
@media (min-width: 576px) { 
    .hidden-desktop{
        display: none;
    }

    .article .imageSource{
        text-align: left;
    }

    .article img{
        width: 75% !important;
        display: block;
        margin-left: auto;
    }
}

/* md */
@media (min-width: 768px) { 
    .container {
        max-width: 540px !important;
    }

    .NavBar .menuDrawer {
        width: 25vw !important;
    }
}

/* lg */
@media (min-width: 992px) { 
    .container {
        max-width: 720px !important;
    }
}

/* xl */
@media (min-width: 1200px) { 
    .container {
        max-width: 960px !important;
    }
}

.loader{
    width: 20%;
    text-align: center;
    padding: 1em;
    display: block;
    vertical-align: top;
    margin-left:auto;
    margin-right:auto;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #616161;
  }